body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    flex-direction: column-reverse;
}
.calculadora{
    background: #020451;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
#resultado{
    background: #d2d0d0;
    color: #000000;
    padding: 10px;
    font-size: 1.8em;
    text-align: right;
    border-radius: 6px;
    margin-bottom: 10px;
    min-width: 220px;
    display: inline-grid;
}

button {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    margin: 4px;
    border: none;
    border-radius: 6px;
    background: #5a5858;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;

}
button:hover {
    background: #868585;
}

.dividir{ 
    background: #ff9500; 
}
.dividir:hover {
    background: #ffa733; 
}
.igual { 
    background: #1e90ff; 
}
.igual:hover { 
    background: #1c7ed6; 
}
.multiplicar{
    background: #ff9500; 
}
.multiplicar:hover{
    background: #ffa733; 
}
.subtrair{
    background: #ff9500;
}
.subtrair:hover{
    background: #ffa733; 
}
.somar{
    background: #ff9500;
}
.somar:hover{
    background: #ffa733;
}
.limpar{ 
    background: #d11a2a; 
    width: 100%; 
}
.limpar:hover { 
    background: #e63946; 
}
